<% include ./header.ejs %>
<div class="about-page main grid-wrap">

        <header class="grid col-full">
        <hr>
            <p class="fleft">关于我们</p>
        </header>
        
        
        <aside class="grid col-one-quarter mq2-col-full">
            <p class="mbottom">
                视工作为修行， <br>
                视品质如生命， <br>
                视任务如作品，<br>
                视口碑如人品。
            </p>
            <menu>
                <hr>
                <ul>
                    <li><a href="#navteam">我们的服务</a></li>
                    <li><a href="#navphilo">我们的理念</a></li>
                    <li><a href="#navother">我们的优势</a></li>
                </ul>
            </menu>
        </aside>
        
        <section class="grid col-three-quarters mq2-col-full">
            <img src="<%=static_dir%>/img/team.jpg" alt="">
            
            <article id="navteam">
            <h2>我们的服务</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit.</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit.</p>
            </article>
            
            <article id="navphilo">
            <h2>我们的理念</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit.</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit.</p>
            </article>
            
            <article id="navother">
            <h2>我们的优势</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit.</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit.</p>
            </article>
        
        </section>
        
    </div>
<% include ./footer.ejs %>