<div id="category_d_add" class="ajax_form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">添加</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form class="form-horizontal col-sm-12" method="post" action=" <%-req.url%> ">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="name" class="col-sm-4 control-label">栏目名称</label>
                            <div class="col-sm-6">
                                <input type="input" class="form-control" id="name" name="name" placeholder="栏目名称" value="<%-category.name%>">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">外部链接</label>
                            <div class="col-sm-6">
                                <label class="radio-inline">
                                    <input type="radio" name="isexternal" value="1" <%if(category.isexternal === 1 || !category.isexternal){%> checked=""  <%}%> >
                                    是
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="isexternal" value="0" <%if(category.isexternal === 0){%> checked=""  <%}%>>
                                    否
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="preview">
                            <img src="/images/nopic8080.gif">
                        </div>
                        <div class="upload-input">
                            <input type="file" class="ke-upload-file" name="imgFile">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label for="externalurl" class="col-sm-4 control-label" style="width:104px;">链接地址</label>
                        <div class="col-sm-6">
                            <input type="input" class="form-control" id="externalurl" name="externalurl" placeholder="链接地址" value="<%-category.externalurl%>">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="submit" class="btn btn-primary">提 交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
</div>