<% include ../header.ejs %>
<div class="row">
    <div class="col-md-12">
        <div class="box box">
            <div class="box-header with-border">
                <h3 class="box-title">系统信息</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <tbody>
                            <tr>
                                <td>用户名</td>
                                <td><span class="label label-success">admin</span></td>
                                <td>X6CMS版本</td>
                                <td><span class="label label-success">2.2(20130305)</span></td>
                            </tr>
                            <tr>
                                <td>用户组</td>
                                <td><span class="label label-success">1</span></td>
                                <td>运行环境</td>
                                <td><span class="label label-success">Apache/2.2.22 (Win32) PHP/5.4.3</span></td>
                            </tr>
                            <tr>
                                <td>最后登录时间</td>
                                <td><span class="label label-success">2015-06-03</span></td>
                                <td>上传许可</td>
                                <td><span class="label label-success">2M</span></td>
                            </tr>
                            <tr>
                                <td>最后登录ip</td>
                                <td><span class="label label-success">127.0.0.1</span></td>
                                <td>MYSQL版本</td>
                                <td><span class="label label-success">5.5.24-log</span></td>
                            </tr>
                            <tr>
                                <td>登录次数</td>
                                <td><span class="label label-success">317</span></td>
                                <td>剩余空间</td>
                                <td><span class="label label-success">238789.73M</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">网站统计</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <tbody>
                            <tr>
                                <td><a href="#">下载模型</a></td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td><a href="#">产品模型</a></td>
                                <td>1212</td>
                            </tr>
                            <tr>
                                <td><a href="#">问答模型</a></td>
                                <td>23</td>
                            </tr>
                            <tr>
                                <td><a href="#">招聘模型</a></td>
                                <td>23</td>
                            </tr>
                            <tr>
                                <td><a href="#">在线人数</a></td>
                                <td>34</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../footer.ejs %>