<% include admin_head.html %>
<style>
body{background:#F7FBFC;overflow-x:hidden;overflow-y:auto;}
</style>
<table class="left_menu" cellpadding="0" cellspacing="0" id="purview_32" style="display: table;">
	<tbody><tr><td><b class="mtop">个人中心</b></td></tr>
	<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/adminindex');"><span><a href="javascript:void(0)">后台首页</a></span></td></tr>
	<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/propass');"><span><a href="javascript:void(0)">修改密码</a></span></td></tr>
	<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/profile');"><span><a href="javascript:void(0)">个人资料</a></span></td></tr>
</tbody></table>

<table class="left_menu" cellpadding="0" cellspacing="0" id="purview_7" style="display: none;">
	<tbody><tr><td><b class="mtop">SEO优化</b></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/tags');"><span><a href="javascript:void(0)">聚合标签</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/keywords');"><span><a href="javascript:void(0)">网站关键词</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/htaccess');"><span><a href="javascript:void(0)">htaccess设置</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/robots');"><span><a href="javascript:void(0)">Robots设置</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/sitemap');"><span><a href="javascript:void(0)">网站地图</a></span></td></tr>
		</tbody></table>

<table class="left_menu" cellpadding="0" cellspacing="0" id="purview_5" style="display: none;">
	<tbody><tr><td><b class="mtop">内容管理</b></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/category');"><span><a href="javascript:void(0)">栏目管理</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/article');"><span><a href="javascript:void(0)">文章模型</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/product');"><span><a href="javascript:void(0)">产品模型</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/ask');"><span><a href="javascript:void(0)">问答模型</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/down');"><span><a href="javascript:void(0)">下载模型</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/hr');"><span><a href="javascript:void(0)">招聘模型</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/guestbook');"><span><a href="javascript:void(0)">留言管理</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/recommend');"><span><a href="javascript:void(0)">推荐位设置</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/model');"><span><a href="javascript:void(0)">模型管理</a></span></td></tr>
		</tbody></table>

<table class="left_menu" cellpadding="0" cellspacing="0" id="purview_6" style="display: none;">
	<tbody><tr><td><b class="mtop">模块管理</b></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/slide');"><span><a href="javascript:void(0)">幻灯管理</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/link');"><span><a href="javascript:void(0)">友情链接</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/navigation');"><span><a href="javascript:void(0)">导航管理</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/online');"><span><a href="javascript:void(0)">在线客服</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/fragment');"><span><a href="javascript:void(0)">碎片管理</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/type');"><span><a href="javascript:void(0)">模块分类</a></span></td></tr>
		</tbody></table>

<table class="left_menu" cellpadding="0" cellspacing="0" id="purview_1" style="display: none;">
	<tbody><tr><td><b class="mtop">系统管理</b></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/purview');"><span><a href="javascript:void(0)">权限菜单</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/usergroup');"><span><a href="javascript:void(0)">用户组</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/user');"><span><a href="javascript:void(0)">用户管理</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/config');"><span><a href="javascript:void(0)">站点设置</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/tpltags');"><span><a href="javascript:void(0)">模板标签</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/lang');"><span><a href="javascript:void(0)">多语言管理</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/database');"><span><a href="javascript:void(0)">数据库管理</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/template');"><span><a href="javascript:void(0)">模板文件</a></span></td></tr>
		<tr><td onclick="seton(this,'http://localhost.x6cms.com/index.php?/admin/clearcache');"><span><a href="javascript:void(0)">清除缓存</a></span></td></tr>
		</tbody></table>
<script type="text/javascript">
function setTab(tid){
	$("#purview_"+tid).find('td').each(function(){
		$(this).removeClass("on");
	});
	$("table").hide();
	$("#purview_"+tid).show();
}
function seton(t,url) {
	$(t).parent().parent().find('td').each(function(){
		$(this).removeClass("on");
	});
	$(t).addClass("on");
	parent.main.location.href=url;
}
setTab(32);
</script>
<% include admin_foot.html %>